<%= @game.player_1.name %> Attacked <%= @game.player_2.name %><br>
<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP <br>
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<h2> James' turn </h2>