<h1> <%= @player1.name%> Vs <%= @player2.name%></h1><br>
<%= @player1.name %>: <%= @player1.hit_points %>HP <br>
<%= @player2.name %>: <%= @player2.hit_points %>HP<br>

<form action='/attack'>
<input type='submit' value='Attack'>
</form>