<h1> <%= @game.player_1.name%> Vs <%= @game.player_2.name%></h1><br>
<h2> Shadi's turn </h2>
<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP <br>
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP<br>

<form action='/attack'>
<input type='submit' value='Attack'>
</form>